---
import "../styles/Global.css"
import Button1 from '../components/Button1.astro';
import Button2 from '../components/Button2.astro';
import Layout from '../layouts/Layout.astro';
import Kunstnere from "../components/Cards.astro";

const url =`${import.meta.env.SUPABASE_URL}/rest/v1/Kunstnere?select=*`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const data = await fetch(url, options)
  .then((res) => res.json());

console.log(data);
---

<Layout>
	  <h1>Hvad sker der i år?</h1>

  {data.map((kunstnere: any) => <Kunstnere kunstnere={kunstnere} />)}
</Layout>
