---
import Cards from "../components/Cards.astro";
import "../styles/Global.css";
import Button1 from "../components/Button1.astro";
import Button2 from "../components/Button2.astro";
import Layout from "../layouts/Layout.astro";
import Kunstnere from "../components/Cards.astro";

const url = `${import.meta.env.SUPABASE_URL}/rest/v1/Kunstnere?select=*`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);

const days = [
  { title: "Fredag 28/04", content: "" },
  { title: "Lørdag 29/04", content: "" },
];
---

<Layout>
  <img class="HeroProgram" src="/img/BabyInVain.webp" alt="Herobillede på programside" />
  <div class="program">
    <h1 class="title">Program for 2026</h1>

    {
      days.map((day, index) => (
        <div class="item" id={`item-${index}`}>
          <button>
            {day.title}
            <span class="arrow">
              <img src="/img/nede.svg" alt="pil ned" />{" "}
            </span>
          </button>
          <div class="content">
            {data.map((kunstnere: any, index: number) => (
              <Kunstnere kunstnere={{ ...kunstnere, reverse: index % 2 !== 0 }} />
            ))}
          </div>
        </div>
      ))
    }
  </div>

  <script>
    function toggle(index: number) {
      const el = document.getElementById(`item-${index}`);
      if (el) {
        el.classList.toggle("open");
        console.log(el.classList);
      }
    }

    document.querySelectorAll(".item button").forEach((btn, index) => {
      btn.addEventListener("click", () => toggle(index));
    });
  </script>

  <!-- {data.map((kunstnere: any, index: number) => <Kunstnere kunstnere={{ ...kunstnere, reverse: index % 2! == 0 }} />)} -->
</Layout>

<style>
  .program {
    margin: auto;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--color-text);
  }

  .title {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    padding: 4rem;
  }

  .item {
    border-top: 1.5px solid var(--color-text);
  }

  button {
    width: 100%;
    background: none;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .content {
    padding: 1rem;
    display: none;
    justify-content: space-between;
    width: 100%;
  }

  .item.open .content {
    display: block;
  }

  .arrow {
    transition: ease-in-out 0.2s;
  }

  .item.open .arrow {
    transform: rotate(0.5turn);
  }

  .HeroProgram {
    object-fit: cover;
    object-position: center;
    display: block;
    aspect-ratio: 16 / 6;
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 10rem;
    overflow: hidden;
  }
</style>
