---
const { kunstnere } = Astro.props;
const reverse = kunstnere.reverse ?? false;
import Button2 from "../components/Button2.astro";
---

<article class:list={["card_component", { reverse }]}>
  <div class="card_image">
    <img src={`/img/${kunstnere.Billede}`} alt={kunstnere.Navn} />
  </div>
  <div class="card_content">
    <h2>{kunstnere.Navn}</h2>
    <p>{kunstnere.Langbeskrivelse}</p>
    <Button2 text="Læs mere" href="" />
  </div>
</article>

<style>
  .card_component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;
    margin: 2rem;
  }

  /* Hvert andet card vender billedet til højre */
  .card_component.reverse .card_image {
    order: 2;
  }
  .card_component.reverse .card_image > * {
    order: 1;
  }

  .card_image img {
    width: 75%;
    aspect-ratio: 3 / 3;
    object-fit: cover;
    display: block;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
  }

  .card_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
  }
</style>
