---
const { kunstnere } = Astro.props;
---

<article class="card_forside">
  <h3>{kunstnere.Navn}</h3>
  <p>{kunstnere.Kortbeskrivelse}</p>
</article>

<style>
   h3 {
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 17rem;
}

p {
  max-width: 40rem;
  line-height: 1.6;
  margin: 0 auto;
  text-align: left;
  padding-left: 7.4rem;
  padding-right: 7rem;
}
</style>